# Misc. and Best Practice
**/*.log
**/*.out
**/*.swp
**/*build*

# Terraform
**/*.auto.tfvars
**/*.auto.tfvars.json
**/*.tfstate
**/*.tfstate.*
**/.terraform
**/.terraformrc
**/_override.tf
**/_override.tf.json
**/crash.*.log
**/crash.log
**/override.tf
**/override.tf.json
**/terraform.rc
